extends ./partials/layout

block title
  title Urbano | Datasketch

block css
  link(rel="stylesheet", href="assets/css/index.css")

block main
  main.fill
    .half-section.column.v-centered.main-banner
      .container
        h1 Urbano
        p Visualizaciones callejeras

